body {
  background-image: url("https://i.imgur.com/asvvi8F.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Introduction {
  color: white;
  text-align: center;
  font-family: "Roboto";
}

h1 {
  font-weight: 500;
  font-size: 48px;
}
